{
  "manga-senpai-wa-otokonoko": {
    "favourites": {
      "listing": true,
      "chapters": [
        "c001",
        "c099"
      ]
    }
  }
  "anime-bocchi-the-boulder": {
    "favourites": {
      "listing": true,
      "chapters": []
    }
  },
  "music-not-buna": {
    "favourites": {
      "listing": false,
      "chapters": [
        "aira"
      ]
    }
  },
  "music-arizona-philips": {
    "favourites": {
      "listing": true,
      "chapters": []
    }
  }
}