{
  "listings": [
    {
      "name": "senpai-wa-otokonoko",
      "type": "manga",
      "favourites": {
        "listing": true,
        "chapters": ["c001"]
      }
    },
    {
      "name": "shiitake-simulation",
      "type": "manga"
    },
    {
      "name": "bocchi-the-boulder",
      "type": "anime",
      "favourites": {
        "listing": true,
        "chapters": []
      }
    },
    {
      "name": "yoroshiku",
      "type": "music"
    },
    {
      "name": "not-buna",
      "type": "music",
      "favourites": {
        "listing": false,
        "chapters": ["aira"]
      }
    },
    {
      "name": "arizona-philips",
      "type": "music",
      "favourites": {
        "listing": true,
        "chapters": []
      }
    }
  ]
}