<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>stats</title>
  </head>
  <body>
    <div id="main">
      <a href="/">Front page</a>
      <div>
        <h3>Manga series: [[ manga_series_count ]]</h3>
        <h3>Manga chapters: [[ manga_chapters_count ]]</h3>
        <h3>Manga pages: [[ manga_pages_count ]]</h3>
        <h3>Anime series: [[ anime_series_count ]]</h3>
        <h3>Anime episodes: [[ anime_episodes_count ]]</h3>
        <h3>Music Artists: [[ artists_count ]]</h3>
        <h3>Songs: [[ songs_count ]]</h3>
        <h3>Subtitled Songs: [[ sub_count ]]</h3>
      </div>
    </div>
  </body>
</html>
